php_flag display_errors 1
AddDefaultCharset UTF-8
DefaultLanguage pt-BR
Options -Indexes
IndexIgnore *

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([a-zA-Z0-9_-]+)?\/?([a-zA-Z0-9_-]+)?\/?(.+)?    index.php?p=$1&e=$2&v=$3 [QSA,L]